body {
    background-color: rgb(38, 168, 243);
    font-family: "bad script," dosis, arial, verdana, "times new roman";
    font-size: 18px;
}
/* The blue colors contrast well with the cloud banner. banner made from personal image */
header { 
        background:lightpink; 
        color: darkred;
        font-family: "bad script," "dancing script", anton, arial, verdana, "times new roman";
        font-size: 25px;
    }
.banner {
    width: 100%
    height: auto;
}
.nav {
    overflow: hidden;
    text-align: center;
    background-color: rgb(121, 237, 245); 
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 20px;
    display: block; 
    padding: 20px;
    margin: 20px;
    height: 20px;
    width: 100%;
}

    #background {
        float:left;
        background-color: rgb(89, 243, 210);
        width: 50%;
        height: 575px;
        border: 2px solid rgb(7, 87, 67);
        padding: 1px;
        margin: 89px; 
        font-family: mukta;
    }
    #personal {
        background-color:rgb(230, 223, 223);
        width:50%;
        padding-left: 10%;
        padding-right: 10%;
    }

    #edu {
        float: left;
        width: 50%;
        color: rgb(1, 1, 43);
        background-color:rgb(230, 223, 223);
    }
#interests {
padding-left: 10%;
padding-right: 10%;
}

img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

    
h2 {
        color: darkred;
        font-family: "permanent marker," verdana, arial, "times new roman";
 /* I selected a playful font for the goodbye message.*/

p {
        color: navy;
        font-family: "old standard TT,""times new roman," verdana, arial;
}
li {
        color: navy;
        font-family: "bad script," "times new roman," verdana, arial;
}

