body {
        background-color: lightpink;
        font-family: arial, verdana, "times new roman";
        font-size: 18px;
    }
    /* The light pink contrasts well with the dark fonts*/
    header { 
            background:lightpink; 
            color: darkred;
            font-family: arial, verdana, "times new roman";
            font-size: 15px;
        }
        div {
            float:left;
            background-color: rgb(89, 243, 210);
            width: 500px;
            border: 100px darkred;
            padding: 15px;
            margin: 15px; 
        }
        #personal {
            float:right;
            width:630px;
            padding:45px;
            font-size: 21px;
            background-color:rgb(163, 161, 161) 
        }
    .interests {
        text-align: center;
        width: 700px;
        border: 100px rgb(70, 7, 70);
        padding: 20px;
        background: rgb(225, 216, 245);
    }
    img {
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
          .assignments {
            background-color: rgb(225, 243, 145);
            width: 1500px;
            border: 12px; 
            padding: 15px;
            margin: 10px;
            font-size: 14px;  
        }
    h1 {
            color: black;
            font-family: verdana, arial, "times new roman";
    }
    /* I selected an easy to read grouping of fonts. */
    h2 {
            color: darkred;
            font-family: verdana, arial, "times new roman";
     /* I selected a playful font for the goodbye message.*/
    h3 {
            color: darkred;
            font-family: cursive, arial, "times new roman";
    }
    p {
            color: navy;
            font-family: "times new roman," verdana, arial;
    }
    li {
            color: navy;
            font-family: "times new roman," verdana, arial;
    }