body {
    width: 100%;
    background-color: rgb(38, 168, 243);
    font-family: "bad script," dosis, arial, verdana, "times new roman";
    font-size: 18px;
}
/* The light blue goes well with cloud banner*/
h2 {
    text-align: center;
    color: rgb(47, 7, 73);
    font-family: "permanent marker," verdana, arial, "times new roman";
}
h1 {
    text-align: center;
    color: rgb(72, 6, 116);
    font-family: "permanent marker," verdana, arial, "times new roman";
}

p {
    color:dark rgb(8, 36, 8);
    font-family: "old standard TT,""times new roman," verdana, arial;
}

ul {
    list-style-type: none;
}

li {
    color: navy;
    font-family: "bad script," "times new roman," verdana, arial;
}
/* responsive image tag */
.responsive_image {
    width: 100%;
    height: auto;
}
/* responsive image tag */
.responsive_image2 {
    width: 100%;
    height: auto;
}
/* Homework assignments are centered */
#nav {
    text-align: center;
    background-color: rgb(133, 145, 245); 
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

#nav a:link, a:visited {
    background-color: #0a38b8;
    color: rgb(241, 71, 190);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  /* Nav. options change color when you hover over them for better clarity */
#nav a:hover, a:active {
    background-color: rgb(40, 12, 63);
}

#container {
    text-align: center;
    border: 2px solid rgb(48, 49, 49);
    padding: 2px;
}

#education {
    text-align: center;
    background-color:rgb(230, 223, 223);
    padding: 5px;
}

#person {
    background-color: rgb(89, 243, 210);
    border: 3px solid rgb(7, 87, 67);
    padding: 5px;
}
/* footer aligned center */
#footer {
    text-align: center;
}
/* tags for responsive image sizes using pixel proportions */
@media only screen and (min-width: 758px) {
    .responsive_image {
        max-height: 300px;
    }

    .responsive_image2 {
        max-width: 240px;
    }

    #container {
        height: 80%;
    }

    #education {
        float: left;
        width: 59%;
        height: 100%;
        padding: 0px;
    }

    #education-background {
        width: 45%;
        float: left;
    }
    
    #education-interest {
        width: 45%;
        float: left;
    }

    #person {
        float: left;
        width: 39%;
        height: 100%;
        padding: 0px;
    }

    #person-image {
        max-width: 40%;
        padding: 10px;
        float: left;
    }

    #person-text {
        padding-left: 10px;
    }
    #person-text p {
        text-align: left;
    }

    #footer {
        clear: both;
    }
}